body {
    background-color: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 60%;
    margin: 80px auto;
    padding: 30px;
    background-color: #1e293b;
    border-radius: 10px;
    text-align: center;
}

textarea {
    width: 90%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
}

button {
    margin-top: 15px;
    padding: 10px 25px;
    font-size: 16px;
    background-color: #22c55e;
    border: none;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-size: 20px;
}
